.whatwedo-Container {
  overflow: hidden;
}

/* Section One Background */
.whatwedo-sectionOne::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;

  z-index: -2;
}

/* .whatwedo-sectionOne::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 120vh;
  width: 100%;
  background-color: #14274a65;
  z-index: -1;
} */


.whatwedo-sectionOne {
  z-index: 1;
  background-color: #000000;
}

.whatwedo-sectionTwo {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: var(--cl-black);
  gap: 2rem;
}

.whatwedo-sectionThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: var(--cl-black);
  gap: 6rem;
}

.whatwedo-img {
  width: 15vw;
  max-width: 100%;
  height: 100%;
  padding:2rem;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .whatwedo-img {
    width: 100%;
  }
}
